@import "tailwindcss";

@font-face {
  font-family: "Tahoma";
  src: url("/assets/fonts/windows-xp-tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("/assets/fonts/windows-xp-trebuchet-ms.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@theme {
  --color-xp-blue: #0054e3;
  --color-xp-light-blue: #4a9eff;
  --color-xp-gray: #ece9d8;
  --color-xp-dark-gray: #c0c0c0;
  --color-xp-border: #0054e3;
  --color-xp-window: #ece9d8;
  --color-xp-taskbar: #245edb;
  --color-xp-green: #39a96b;
  --color-xp-red: #DE482B;

  --font-family-sans: "Tahoma", sans-serif;

  --font-family-trebuchet: "Trebuchet MS", sans-serif;
  --font-family-tahoma: "Tahoma", sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

* {
  touch-action: manipulation;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Tahoma", sans-serif;
}

#root {
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Default cursor */
html,
body {
  cursor: url("/cursors/arrow_m.cur"), auto;
}

a,
button,
.cursor-pointer {
  cursor: url("/cursors/default_link.cur"), pointer;
}

input[type="text"],
textarea {
  cursor: url("/cursors/beam_r.cur"), text;
}

.cursor-wait {
  cursor: url("/cursors/wait_m.cur"), wait;
}

.cursor-move {
  cursor: url("/cursors/move_r.cur"), move !important;
}

.cursor-grabbing {
  cursor: url("/cursors/move_r.cur"), grabbing !important;
}

[disabled] {
  cursor: url("/cursors/no_r.cur"), not-allowed;
}

.cursor-help {
  cursor: url("/cursors/help_m.cur"), help;
}

.cursor-ns-resize {
  cursor: url("/cursors/sizens.ani"), ns-resize;
}
.cursor-we-resize {
  cursor: url("/cursors/sizewe.ani"), ew-resize;
}
.cursor-nwse-resize {
  cursor: url("/cursors/sizenwse.ani"), nwse-resize;
}
.cursor-nesw-resize {
  cursor: url("/cursors/sizenesw.ani"), nesw-resize;
}

.custom-text-shadow {
  @apply drop-shadow-[0_1.4px_1.4px_rgba(0,0,0,0.8)];
}

img[src="/assets/icons/mail.webp"],
img[src="./assets/icons/mail.webp"],
img[src="../assets/icons/mail.webp"] {
  width: 48px;
  height: 48px;
  object-fit: contain;
}